* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body {
    background-color: whitesmoke;
}

.content-con {
    display: flex;
    justify-content: flex-start;
}

.sidebar {
        width: 18%;
        height: 100vh;
        background-color: #2fe7ce;
        border-radius: 10px;
        filter: drop-shadow(10px 10px 2px #999);
        
   
}

#close-icons:hover {
    color: whitesmoke;
    cursor: pointer;
}


.logo img {
    width: 270px;
  
  
}

.side-pages p {
    font-size: 20px;
    font-weight: bold; 
}

.side-pages {
    margin: 10px;
}


.page-con{
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;

    
    
}

.page-con:hover {
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: all ease .3s;
}

.close-icon {
    padding: 10px;
    display: flex;
    justify-content: flex-end; /* Pushes the icon to the right */
}


#icons{
    margin: 20px;
    font-size: 20px;
}

#pages{
    margin-left: 20px;
}


.side-bottom {
   width: 100%;
   height: 7.5vh;
   background-color: whitesmoke;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;

   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   display: flex;
   justify-content:space-between;
   align-items: center;
   
   
}

.bottom-con {
    padding: 20px;
    
}

.bottom-con ion-icon:hover {
    color: #2fe7ce;
    cursor: pointer;
}

.menu {
    z-index: 1;
}

.menu button {
    margin-top: 12px ;
    width: 50px;
    height: 7pc;
    color: white;
    font-weight: bold;
    border: none;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    background-color: #333;
    transition: all .3 ease-in;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dashboard {
    top: 10%;
    width: 70%;
    margin: 50px auto 0;
    
}

.dashboard h1 {
    color: white;
    font-size: 50px;
}

.dashboard-elements {
    width: 100%;
    height: 70vh;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-dE {
    width: 40%;
    height: 27vh;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 2px #999);
    display: flex;
    justify-content: flex-start;
    
 
}

.left-line {
    height: 22vh;
    width: 15px;
    background-color: #0292b7;
    border-bottom-right-radius: 50px;
    
}

.dE-description {
    width: 200px;
    padding: 50px;
    margin-top: 20px;
    

}

.dE-description h1 {
    color: #333;
    font-size: 35px;
}

.dE-count {
    background-color: #0292b7;
    width: 200px;
    height: 180px;
    display: flex;
    align-items: center;

    margin-left:  auto;
    
}

.dE-count h1 {
    color: white;
    margin: 0 auto;
    font-size: 100px;
}
