

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.1));
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.patient-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.patient-table thead {
    background-color: #0292b7;
    color: white;
}

.patient-table th,
.patient-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 16px;
}

.patient-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.patient-table tr:hover {
    background-color: #ddd;
}


.patient-table button {
    height: 5vh;
    width: 80%;
    background-color: #333;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.patient-table button:hover {
    background-color: #111;
    border: none;
}

.print-button {
    margin-top: 20px;

}

.print-button button {
    background-color: #0292b7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.print-button button:hover {
    background-color: #333;
}

@media print {
    /* Hide non-printable elements */

    body * {
        visibility: hidden;
    }

    .main-content, .main-content * {
        visibility: visible;
    }
    
    .print-button, .head {
        display: block;
        text-align: center;
        margin-top: 20px;
    }

    /* Display table headers and make sure they are visible in print */
    .patient-table {
        width: 100%;
        border-collapse: collapse;
    }

    .main-content {
        width: 100%;
        margin: 0 auto;  /* Centers the content horizontally */
        padding: 20px;
        text-align: center;  /* Centers the text */
    }

    .patient-table th, .patient-table td {
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
        font-size: 14px;
        color: black;
    }

    /* Center the content in print */
    .main-content {
        width: 100%;
        margin: auto;
        padding: 20px;
    }

    /* Apply a different color background only on the screen, not in print */
    .head {
        color: black;
        background-color: #fff !important;
        padding: 20px;
        font-size: 30px;
    }

    /* Ensure the table fills the page width */
    body {
        margin: 0;
        padding: 0;
        color: black;
    }

    .print-button {
        display: none;
    }

    .sidebar {
        display: none;
    }
}
