{% extends "SIA102/layout.html" %}
{% load static %}

{% block body %}
    <title>Patient Discharge Summary</title>
    <link rel="stylesheet" href="{% static 'SIA102/dischargeRecords.css' %}">

    <!-- Main Content - Patient List -->
     <div class="dis-con">
    <div class="dischargeSummary-main">
        <span class="headerDiv">
            <h2>Patient Discharge Summary</h2>
        </span>
        <!-- Patient Information Section -->
        <div class="section">
            <h2>Patient Information</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <td>{{ patientInfo.Patient_FName }} {{ patientInfo.Patient_MName }} {{ patientInfo.Patient_LName }} </td>
                </tr>
                <tr>
                    <th>Patient_Type</th>
                    <td>{{ patientInfo.Patient_Type }} </td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>{{ patientInfo.Age }}</td>
                </tr>
                <tr>
                    <th>Sex</th>
                    <td>{{ patientInfo.Sex }}</td>
                </tr>
                <tr>
                    <th>Date_of_Birth</th>
                    <td>{{ patientInfo.DoB }}</td>
                </tr>
                <tr>
                    <th>Admission_Date</th>
                    <td>{{ patientInfo.Admission_Date }}</td>
                </tr>
                <tr>
                    <th>Discharge_Date</th>
                    <td>{{ patientInfo.Deletion_Date }}</td>
                </tr>
                <tr>
                    <th>Attending_Physician</th>
                    <td>{{ patientInfo.Attending_Physician }}</td>
                </tr>
                <tr>
                    <th>Diagnosis</th>
                    <td>{{ patientInfo.Admitting_Diagnosis }}</td>
                </tr>
            </table>
        </div>

        <!-- Vital Signs Section -->
        <div class="section">
            <h2>Vital Signs at Discharge</h2>
            <!-- Vital Signs Table -->
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Temperature</th>
                        <th>Pulse</th>
                        <th>Respiration</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vital in vitalSigns %}
                        <tr>
                            <td>{{ vital.Vitals_Date }}</td>
                            <td>{{ vital.Temperature }}</td>
                            <td>{{ vital.Pulse }}</td>
                            <td>{{ vital.Respiration }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No data available</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Vital Signs Output Table -->
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Blood Pressure</th>
                        <th>Urine</th>
                        <th>Stool</th>
                    </tr>
                </thead>
                <tbody>
                    {% for output in vitalSignsOutput %}
                        <tr>
                            <td>{{ output.Date }}</td>
                            <td>{{ output.Blood_Pressure }}</td>
                            <td>{{ output.Urine }}</td>
                            <td>{{ output.Stool }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No data available</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Initial Vitals Table -->
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Weight</th>
                    </tr>
                </thead>
                <tbody>
                    {% for initial in initialVitals %}
                        <tr>
                            <td>{{ initial.Initial_Vitals_Date }}</td>
                            <td>{{ initial.Weight }} kg</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No data available</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <!-- IV Treatments Section -->
        <h2>IV Treatments</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Bottle No</th>
                <th>IV Solution</th>
                <th>Volume</th>
                <th>Incorporation</th>
                <th>Regulation</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Remarks</th>
            </tr>
            {% for discharge in IV_Fluids %}
                <tr>
                    <td>{{ discharge.IV_Date }}</td>
                    <td>{{ discharge.Bottle_No }}</td>
                    <td>{{ discharge.IV_Solution }}</td>
                    <td>{{ discharge.Volume }}</td>
                    <td>{{ discharge.Incorporation }}</td>
                    <td>{{ discharge.Regulation }}</td>
                    <td>{{ discharge.Start_Time }}</td>
                    <td>{{ discharge.Time_End }}</td>
                    <td>{{ discharge.Remarks }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="9">No data available</td>
                </tr>
            {% endfor %}
        </table>

        <!-- Side Drips Section -->
        <h2>IV Side Drip</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Bottle No</th>
                <th>IV Solution</th>
                <th>Volume</th>
                <th>Incorporation</th>
                <th>Regulation</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Remarks</th>
            </tr>
            {% for discharge in Side_drips %}
                <tr>
                    <td>{{ discharge.SD_Date }}</td>
                    <td>{{ discharge.Bottle_No }}</td>
                    <td>{{ discharge.IV_Solution }}</td>
                    <td>{{ discharge.Volume }}</td>
                    <td>{{ discharge.Incorporation }}</td>
                    <td>{{ discharge.Regulation }}</td>
                    <td>{{ discharge.Start_Time }}</td>
                    <td>{{ discharge.Time_End }}</td>
                    <td>{{ discharge.Remarks }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="9">No data available</td>
                </tr>
            {% endfor %}
        </table>

        <!-- Fast Drips Section -->
        <h2>IV Fast Drip</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>IVF</th>
                <th>Volume</th>
                <th>Incorporation</th>
                <th>Time Taken</th>
                <th>Remarks</th>
            </tr>
            {% for discharge in Fast_drips %}
                <tr>
                    <td>{{ discharge.SFD_Date }}</td>
                    <td>{{ discharge.IVF }}</td>
                    <td>{{ discharge.Volume }}</td>
                    <td>{{ discharge.Incorporation }}</td>
                    <td>{{ discharge.Time_Taken }}</td>
                    <td>{{ discharge.Remarks }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No data available</td>
                </tr>
            {% endfor %}
        </table>

        <!-- Medications Section -->
        <h2>Medications</h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Medication Name</th>
                    <th>Medication Remarks</th>
                </tr>
            </thead>
            <tbody>
                {% for discharge in Medications %}
                    <tr>
                        <td>{{ discharge.Date }}</td>
                        <td>{{ discharge.Medication_Name }}</td>
                        <td>{{ discharge.Medication_Remarks }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No data available</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>



        <!-- Footer -->
        <div class="section">
            <p><strong>Prepared by:</strong> Nurse C</p>
            <p><strong>Approved by:</strong> Dr. Smith</p>
        </div>

            <div class="print-button" style="text-align: center; margin-top: 20px;">
        <button onclick="window.print()">Patient Discharge Summary</button>
    </div>
    </div>

</div>

{% endblock %}
