{% extends "SIA102/layout.html" %}
{% load static %}

{% block body %}
    <title>Discharge Records</title>
    <link rel="stylesheet" href="{% static 'SIA102/dischargeRecords.css' %}">

    <div class="main-content">
        <span class="headerDiv">
            <h1 style="background-color:#2fe7ce; color: white; padding: 20px; font-size: 50px; margin: 20px;">Discharge Records</h1>
            &ensp;&ensp;&ensp;
            <br>
            <div>
                <span>Filter: </span>
                <span>
                    <select name="filter" id="filter">
                        <option value="latest">latest</option>
                        <option value="oldest">oldest</option>
                        <option value="nameAsc">name (ascending)</option>
                        <option value="nameDesc">name (descending)</option>
                      </select>
                </span>
            </div>
        </span>
        
        <table class="patient-table" >
            <thead>
                <tr>
                    <th>Record Number</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Discharge Date</th>
                </tr>
            </thead>
            <tbody>
                <tr onclick="window.location.href='{% url 'dischargeSummary' 'Klein Moretti' %}'">
                    <td>1</td>
                    <td>Klein</td>
                    <td> </td>
                    <td>Moretti</td>
                    <td>25/09/2024</td>
                </tr>
                
                <tr onclick="window.location.href='{% url 'dischargeSummary' 'Marshal D. Teach' %}'">
                    <td>2</td>
                    <td>Marshal</td>
                    <td>D.</td>
                    <td>Teach</td>
                    <td>23/09/2024</td>
                </tr>
                <tr onclick="window.location.href='{% url 'dischargeSummary' 'Ruby Rose' %}'">
                    <td>3</td>
                    <td>Ruby</td>
                    <td> </td>
                    <td>Rose</td>
                    <td>20/09/2024</td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>

{% endblock %}