{% extends "SIA102/layout.html" %}
{% load static %}

{% block body %}
    <title>Patient List</title>
    <link rel="stylesheet" href="{% static 'SIA102/patientList.css' %}">

     <!-- Main Content - Patient List -->
    
     
     <div class="main-content">
        
        <div class="head">
            <h1 style="background-color:#2fe7ce; color: white; padding: 20px; font-size: 50px; border-top-left-radius: 10px; border-top-right-radius: 10px; text-align: center;
            margin-bottom: 20px;">PATIENT LIST</h1>
        </div>
        <table class="patient-table">
            <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>Patient First Name</th>
                    <th>Patient Middle Name</th>
                    <th>Patient Last Name</th>
                    <th>Admission Date</th>
                    <th>Patient Type</th>
                    <th>Room Number</th>
                    <th>Attending Physician</th>
                    <th>Diagnosis</th>
                    <th>Patient Status</th>
                    <th>Patient Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button onclick="window.location.href='{% url 'patient' 'P003' %}'">
                            View Details
                        </button>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button onclick="window.location.href='{% url 'patient' 'P004' %}'">
                            View Details
                        </button>
                    </td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>

{% endblock %}
