{% extends "SIA102/layout.html" %}
{% load static %}

{% block body %}
    <title>Patient List</title>
    <link rel="stylesheet" href="{% static 'SIA102/patientList.css' %}">

     <!-- Main Content - Patient List -->
    
     
     <div class="main-content">
        
        <div class="head">
            <h1 style="background-color:#2fe7ce; color: white; padding: 20px; font-size: 50px;">PATIENT LIST</h1>
        </div>
        <table class="patient-table">
            <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Room Number</th>
                    <th>Attending Physician</th>
                    <th>Patient Status</th>
                </tr>
            </thead>
            <tbody>
                <tr onclick="window.location.href='{% url 'patient' 1 %}'">
                    <td>1</td>
                    <td>John</td>
                    <td>A.</td>
                    <td>Doe</td>
                    <td>101</td>
                    <td>Dr. Smith</td>
                    <td>Active</td>
                </tr>
                <tr onclick="window.location.href='{% url 'patient' 2 %}'">
                    <td>2</td>
                    <td>Jane</td>
                    <td>B.</td>
                    <td>Smith</td>
                    <td>102</td>
                    <td>Dr. Johnson</td>
                    <td>Active</td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>

{% endblock %}