{% extends "SIA102/layout.html" %}
{% load static %}

{% block body %}
    <title>Patient Details</title>
    <link rel="stylesheet" href="{% static 'SIA102/patientDetail.css' %}">

    <div class="content-con">
        <h2>Patient Details</h2>

        <!-- Patient Information -->
        <div class="patient-info">
            <p><strong>Patient ID: {{patientID}}</strong> <span id="patient-id"></span></p>
            <p><strong>First Name: (WALA PA PYTHON LOGIC)</strong> <span id="first-name"></span></p>
            <p><strong>Middle Name: (WALA PA PYTHON LOGIC)</strong> <span id="middle-name"></span></p>
            <p><strong>Last Name: (WALA PA PYTHON LOGIC)</strong> <span id="last-name"></span></p>
            <p><strong>Admission Date: (WALA PA PYTHON LOGIC)</strong> <span id="admission-date"></span></p>
            <p><strong>Room Number: (WALA PA PYTHON LOGIC)</strong> <span id="room-number"></span></p>
            <p><strong>Birth Date: (WALA PA PYTHON LOGIC)</strong> <span id="birth-date"></span></p>
            <p><strong>Age: (WALA PA PYTHON LOGIC)</strong> <span id="age"></span></p>
            <p><strong>Sex: (WALA PA PYTHON LOGIC)</strong> <span id="sex"></span></p>
            <p><strong>Attending Physician: (WALA PA PYTHON LOGIC)</strong> <span id="attending-physician"></span></p>
            <p><strong>Diagnosis: (WALA PA PYTHON LOGIC)</strong> <span id="diagnosis"></span></p>
            <p><strong>Patient Status: (WALA PA PYTHON LOGIC)</strong> <span id="patient-status"></span></p>
            <p><strong>Discharged Date: (WALA PA PYTHON LOGIC)</strong> <span id="discharged-date"></span></p> 
        </div>

        <!-- Back Button -->
        <div class="back-button">
            <button onclick="window.location.href='{% url 'patientList' %}'">Back to Patient List</button>
        </div>
    </div>

{% endblock %}