{% extends "SIA102/layout.html" %}
{% load static %}

{% block body %}
    <title>Room Status</title>
    <link rel="stylesheet" href="{% static 'SIA102/roomStatus.css' %}">



        <div class="main-content">
            <h1 style="background-color:#2fe7ce; color: white; padding: 20px; font-size: 50px; border-top-left-radius: 10px; border-top-right-radius: 10px;"
            >ROOM STATUS</h1>
            <table id="room-table">
                     <thead>
                        <tr>
                            <th>Room Number</th>
                            <th>Room Type</th>
                            <th>Bed Capacity</th>
                            <th>Available Beds</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="room-table-body">
                        <tr>
                            <td>1</td>
                            <td>Single</td>
                            <td>1</td>
                            <td>1</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Double</td>
                            <td>2</td>
                            <td>2</td>
                            <td>Occupied</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Single</td>
                            <td>1</td>
                            <td>1</td>
                            <td>Cleaning</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Single</td>
                            <td>1</td>
                            <td>3</td>
                            <td>Under Maintenance</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Double</td>
                            <td>2</td>
                            <td>4</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Double</td>
                            <td>2</td>
                            <td>2</td>
                            <td>Occupied</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Single</td>
                            <td>1</td>
                            <td>1</td>
                            <td>Occupied</td>
                        </tr>
                    </tbody>
                </table>
            <!-- Add New Room Form -->
            <div class="add-room-form">
                <input type="number" placeholder="Room Number" required>
                <input type="text" placeholder="Room Condition" required>
                <select>
                    <option>Occupied</option>
                    <option>Available</option>
                    <option>Cleaning</option>
                    <option>Under Maintenance</option>
                </select>
                <button style="background-color: #2fe7ce;">Add Room</button>
            </div>
        </div>

{% endblock %}
