<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Users List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Contact Number</th>
                <th>Department</th>
                <th>Position</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody id="users-list"> <!-- tbody has to have id so that it can be repopulated by the ajax script -->
        </tbody>
    </table>
    <script>
        // use AJAX
        function fetchUsersData() {
            $.ajax({
                url: "{% url 'get_users_data' %}", // get the data by calling this
                method: 'GET',
                success: function(response) {
                    console.log('Fetched users data:', response);
                    const users = response.users; 
                    let usersHtml = '';
                    if (users.length > 0) {
                        users.forEach(function(user) {
                            usersHtml += '<tr>' +
                                '<td>' + user.User_ID + '</td>' +
                                '<td>' + user.User_FName + '</td>' +
                                '<td>' + user.User_MName + '</td>' +
                                '<td>' + user.User_LName + '</td>' +
                                '<td>' + user.Contact_Num + '</td>' +
                                '<td>' + user.Department + '</td>' +
                                '<td>' + user.Position + '</td>' +
                                '<td>' + user.Email + '</td>' +
                            '</tr>';
                        });
                    } else {
                        usersHtml = '<tr><td colspan="8">No users found.</td></tr>';
                    }
                    console.log('Generated HTML:', usersHtml);
                    $('#users-list').html(usersHtml); 
                },
                error: function() {
                    console.log('Error fetching users data');
                }
            });
        }
        setInterval(fetchUsersData, 10000);  //10 seconds
        fetchUsersData();
    </script>
</body>
</html>
